# Python runtime files
__pycache__
.benchmarks
.pytest_cache

# Python packaging
*.egg-info
dist/

# R runtime files
.Rhistory

# Sphinx build outputs
doc/_build

# Editors and IDEs
.vscode

# DS_Store files
.DS_Store

# Scratch code
scratch*

# CHILLED user settings
user_settings.py

# log files
*.log